openapi: 3.0.3
info:
  title: Knotree Accounts API
  version: 0.1.0
servers:
  - url: https://accounts.knotree.com
paths:
  /api/v1/auth/register:
    post:
      summary: Create an account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password, password_confirm]
              properties:
                username:
                  type: string
                  pattern: "^[a-z0-9](?:[a-z0-9-]{1,37}[a-z0-9])$"
                  description: Case-insensitive, stored lowercase. Reserved names are rejected.
                email: { type: string, format: email }
                password: { type: string }
                password_confirm: { type: string }
                return_to:
                  type: string
                  description: Local path (usually a pending /oauth/authorize request) returned after email verification.
      responses:
        "200":
          description: Account created and verification email queued
        "409":
          description: Email or username already taken
  /api/v1/auth/login:
    post:
      summary: Password login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, password]
              properties:
                identifier:
                  type: string
                  description: The username or any verified email of the account (`email` is accepted as an alias).
                password: { type: string }
      responses:
        "200":
          description: Authenticated, or MFA required
        "401":
          description: Generic invalid credentials
  /api/v1/auth/mfa/verify:
    post:
      summary: Complete a login transaction with TOTP, email OTP, or a recovery code
      responses:
        "200":
          description: Session cookie set
  /api/v1/auth/logout:
    post:
      summary: Revoke the current session
      responses:
        "200": { description: Signed out }
  /api/v1/me:
    get:
      summary: Current profile
      responses:
        "200": { description: Profile without secrets }
        "401": { description: No session }
  /api/v1/me/emails:
    get:
      summary: List the account's emails (up to three, one primary)
      responses:
        "200": { description: Emails with primary and verified flags }
    post:
      summary: Add an email and send a confirmation link (needs a recent sign-in)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200": { description: Confirmation link sent }
        "400": { description: Three emails already on the account }
        "409": { description: Email used by another account }
  /api/v1/me/emails/{id}:
    delete:
      summary: Remove a non-primary email (needs a recent sign-in)
      responses:
        "200": { description: Removed }
        "400": { description: The primary email cannot be removed }
  /api/v1/me/emails/{id}/primary:
    post:
      summary: Make a verified email primary (needs a recent sign-in)
      responses:
        "200": { description: Primary email changed }
  /api/v1/me/emails/{id}/resend:
    post:
      summary: Resend the confirmation link of an unverified email
      responses:
        "200": { description: Link sent }
  /api/v1/me/username:
    patch:
      summary: Change the username (needs a recent sign-in, once every 30 days)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username: { type: string }
      responses:
        "200": { description: Username changed; the old one stays reserved for 30 days }
  /api/v1/me/authorizations:
    get:
      summary: Services (OAuth clients) the current user has authorized
      responses:
        "200":
          description: >-
            `items` with client_id, name, first_party, status, scopes, granted_at,
            last_used_at, and active_grants, newest grant first
        "401": { description: No session }
  /api/v1/me/authorizations/{client_id}:
    delete:
      summary: Revoke a service's access and every token it holds for the user
      parameters:
        - in: path
          name: client_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: Consent removed and tokens revoked }
        "401": { description: No session }
        "404": { description: The user has not authorized that service }
  /api/v1/admin/stats:
    get:
      summary: Super-admin overview
      responses:
        "200": { description: Aggregate counts }
        "403": { description: Not an admin, or authenticator is not enabled }
  /api/v1/admin/clients:
    get:
      summary: Registered services (OAuth clients), read-only
      parameters:
        - in: query
          name: q
          schema: { type: string }
          description: Matches client id or name
        - in: query
          name: status
          schema: { type: string, enum: [active, disabled] }
        - in: query
          name: type
          schema: { type: string, enum: [public, confidential, service] }
      responses:
        "200": { description: "Clients with authorized_users, active_tokens and last_authorized_at. Never includes the secret hash." }
        "403": { description: Not an admin, or authenticator is not enabled }
  /api/v1/admin/clients/{id}:
    get:
      summary: One registered service with its 20 most recent consents
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200": { description: Client detail }
        "403": { description: Not an admin, or authenticator is not enabled }
        "404": { description: Unknown client }
  /oauth/authorize:
    get:
      summary: OAuth 2.1 authorization endpoint
      parameters:
        - in: query
          name: client_id
          required: true
          schema: { type: string }
        - in: query
          name: redirect_uri
          required: true
          schema: { type: string }
        - in: query
          name: response_type
          required: true
          schema: { type: string, enum: [code] }
        - in: query
          name: code_challenge
          required: true
          schema: { type: string }
        - in: query
          name: code_challenge_method
          required: true
          schema: { type: string, enum: [S256] }
        - in: query
          name: state
          required: true
          schema: { type: string }
        - in: query
          name: screen_hint
          required: false
          schema: { type: string, enum: [signup] }
          description: Without a session, open account creation instead of sign-in.
      responses:
        "302": { description: Redirect to the client or to sign-in }
        "400": { description: Invalid client or redirect URI }
  /oauth/token:
    post:
      summary: Token endpoint
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type: { type: string }
                code: { type: string }
                redirect_uri: { type: string }
                client_id: { type: string }
                code_verifier: { type: string }
                refresh_token: { type: string }
      responses:
        "200": { description: Tokens issued }
        "400": { description: Invalid grant }
  /.well-known/openid-configuration:
    get:
      summary: OpenID Provider metadata
      responses:
        "200": { description: Discovery document }
  /.well-known/jwks.json:
    get:
      summary: Signing keys
      responses:
        "200": { description: JSON Web Key Set }
components:
  securitySchemes:
    browserSession:
      type: apiKey
      in: cookie
      name: knotree_session
    bearer:
      type: http
      scheme: bearer
